#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: linear-gradient(90deg, #A3FF61, #67E8F9);
  

}

* {
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container-Tarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 20px;
  
}

.card {
  padding: 2em;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1.5em;
  max-width: 80%;
  margin: 2em auto;
  min-height: 15rem;
}

.card-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card-list-item {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(90deg, #A3FF61, #67E8F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  justify-content: center;
  border-radius: 1em;
 padding: 1.5em;
 width: 100%;
  max-width: 600px;
  color:black;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-list-item-status {
  font-weight: bold;
}

.card-list-item-actions {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 0rem;
  flex-direction: column;
  width: 25%;
  align-items: end;
  justify-content: space-between;
}

  button {
    margin-top: 0.5rem;
    background-color: #929191;
    cursor: pointer;
  }
  button:hover {
    background-color: #646464;
  }

.card-list-item-content{
  display: flex;
  flex-direction: column;
  width: 75%;

  p, h2{
    margin-bottom: 0.8rem;
  }
}

.read-the-docs {
  color: #888;
}
